:root {
  /* Fonts */
  --main-fonts: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* Text colors */
  --main-txt-cl: #757575;
  --title-txt-cl: #212121;
  --logo-cl: #000000;
  --accent-txt-cl: #2196f3;
  --hero-txt-cl: #ffffff;
  --btn-txt-cl: #ffffff;
  --modal-btn-border-cl: rgba(0, 0, 0, 0.1);
  --footer-link-cl: rgba(255, 255, 255, 0.6);

  /* Background colors */

  --main-bcg-cl: #ffffff;
  --secondary-bcg-cl: #f5f4fa;
  --footer-bcg-cl: #2f303a;
  --hero-bcg-cl: #c4c4c4;
  --accent-bcg-cl: #2196f3;
  --btn-hover-cl: #188ce8;
  --hero-overlay-cl: rgba(47, 48, 58, 0.4);
  --modal-icon-cl: #000000;

  --header-border-cl: #ececec;
  --card-border: #eeeeee;
  --border-radius-button: 4px;
  --border-radius-cards: 0px 0px 4px 4px;
  --box-shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --box-shadow-active: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadow-cards: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  --box-shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

  --hover-overlay-cl: rgba(33, 150, 243, 0.9);

  --icon-cl: #afb1b8;
  --icon-footer-elipce-cl: rgba(255, 255, 255, 0.1);

  --form-input-border-cl: rgba(33, 33, 33, 0.2):
  /*  */
  --items: 3;
  --indent: 30px;

  /* АНИМАЦИЯ */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-fonts);
  color: var(--main-txt-cl);
  background-color: var(--main-bcg-cl);
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

/* Reset */
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ^^^^^^^^
HEADER^^^^^^^ */

.header {
  background-color: var(--hero-txt-cl);
  border-bottom: 1px solid var(--header-border-cl);
}

.header-container {
  display: flex;
}

.main-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

/* LOGO */
.logo {
  color: var(--logo-cl);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  margin-right: 93px;
  display: block;
  padding: 24px 0;
}

.logo-span {
  color: var(--accent-txt-cl);
}

/* SITE-NAVIGATION */
.site-nav,
.auth-nav {
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
}
.site-nav .link,
.auth-nav .link {
  padding: 32px 0;
}
.site-nav .link {
  position: relative;
  display: block;
  color: var(--title-txt-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition: color var(--duration) var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.auth-nav .link:hover,
.auth-nav .link:focus,
.auth-item .link:hover,
.auth-item .link:focus {
  color: var(--accent-txt-cl);
}

.auth-nav .link {
  display: block;
  color: var(--main-txt-cl);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.auth-nav .link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--main-txt-cl);

  transition: color var(--duration) var(--timing-function);
}

.auth-nav .link .icon {
  fill: currentColor;
  transition: fill var(--duration) var(--timing-function);
}
.auth-nav .link:hover .icon,
.auth-nav .link:focus .icon {
  fill: var(--accent-bcg-cl);
}

.nav-bcg {
  background-color: var(--hero-text-color);
}
/* LINE */

.current {
  text-align: center;
  justify-content: center;
}

.current::after {
  content: "";

  position: absolute;
  display: inline-block;
  left: 0;
  bottom: -3%;

  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-bcg-cl);
}

.link-studio {
  width: 48px;
}

.link-portfolio {
  width: 78px;
}

/* HERO */

.hero {
  background-color: var(--hero-bcg-cl);

  text-align: center;
  padding: 200px 0;

  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      var(--hero-overlay-cl),
      var(--hero-overlay-cl)
    ),
    url(../images/hero/Img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  color: var(--hero-txt-cl);
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  max-width: 696px;
  margin: 0 auto;

  margin-bottom: 30px;
}

/* BUTTON hero*/
.button {
  color: var(--hero-txt-cl);
  background-color: var(--accent-bcg-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  border: 0;

  box-shadow: var(--box-shadow-button);
  border-radius: var(--border-radius-button);

  padding: 10px 32px;

  transition: background-color 1var (--duration) var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--btn-hover-cl);
}

/* FEATURES Преимущества*/

.feature-rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bcg-cl);
  margin-bottom: 30px;
  border-radius: var(--border-radius-button);
}

.features .item-title {
  color: var(--title-txt-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features .text {
  font-size: 14px;
  line-height: calc(24 / 14);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature-item {
  width: calc((100% - 90px) / 4);
  /* flex-basis: calc((100%- 3 * 30px) / 4); */
  /* flex-basis: calc((100 - 3 * 30) / 4);
  .feature-item {flex-basis: calc((100% - 3 * 30px) / 4);    */
  /* margin-right: 30px; */
}

.feature-item:nth-child(4n) {
  margin-right: 0;
}

/* COMPETITION */
.title {
  color: var(--title-txt-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;

  margin-bottom: 50px;
}

/* Competitio container */
.competition {
  padding-top: 0;
}

.competition-list {
  display: flex;
  gap: 30px;
}

/* COMPETITION OVERLAY */

.competition-item {
  position: relative;
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.competition-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--btn-txt-cl);
}

/* OUR TEAM */
.team {
  background-color: var(--secondary-bcg-cl);
}
.socials-link {
  text-decoration: none;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--main-bcg-cl);
  box-shadow: var(--box-shadow-cards);
  text-align: center;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-item .title {
  color: var(--title-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 10px;
}

.team-item .position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-bottom: 16px;
}

.team-text {
  padding: 30px 0;
}

/*Socials */
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background-color: var(--main-bcg-cl);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--duration) var(--timing-function);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--btn-hover-cl);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--btn-txt-cl);
}
.socials-icon {
  fill: var(--icon-cl);
  transition: fill var(--duration) var(--timing-function);
}

/*  CLIENTS */
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* .clients-item {
  flex-basis: calc((100%-5 * 30px) / 6);
} */

.clients-link {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  background-color: var(--main-bcg-cl);
  border: 1px solid var(--icon-cl);
  border-radius: var(--border-radius-button);
  fill: var(--icon-cl);

  transition: border-color var(--duration) var(--timing-function);
}
.clients-icon {
  color: currentColor;

  transition: fill var(--duration) var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--btn-hover-cl);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-bcg-cl);
}

/* GALLERY - page Portfolio */
.filtr {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

.filtr .btn {
  color: var(--title-txt-cl);
  background-color: var(--secondary-bcg-cl);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  cursor: pointer;

  border-radius: var(--border-radius-button);
  border: 0;

  padding: 6px 22px;

  transition: background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function);
}

.btn.current-btn {
  background-color: var(--btn-hover-cl);
  box-shadow: var(--box-shadow-active);
  color: var(--btn-txt-cl);
}

.btn:hover,
.btn:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-bcg-cl);
  box-shadow: var(--box-shadow-active);
}

/* GALLERY */
.gallery .img-name {
  color: var(--title-txt-cl);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery .img-type {
  font-size: 16px;
  line-height: calc(30 / 16);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* .gallery-list {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
} */

.gallery-item {
  /* flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items)); */
  cursor: pointer;
  display: block;

  transition: box-shadow var(--duration) var(--timing-function);
}
.gallery-item:hover,
.gallery-item:focus {
  box-shadow: var(--box-shadow-portfolio);
}

.item-text {
  padding: 20px 24px;
  border-right: 1px solid var(--card-border);
  border-left: 1px solid var(--card-border);
  border-bottom: 1px solid var(--card-border);
}

/* GALLERY OVERLAY */

.gallery-thumb {
  position: relative;
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-overlay-cl);

  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
}

.gallery-overlay > p {
  font-size: 18px;
  line-height: calc(28 / 18);

  color: var(--btn-txt-cl);
  padding: 63px 24px;
}
.gallery-item:hover .gallery-overlay,
.gallery-item:focus .gallery-overlay {
  transform: translateY(0);
}

/* FOOTER */
.footer {
  background-color: var(--footer-bcg-cl);
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
  /* justify-content: space-between */
}

.contacts {
  margin-right: 70px;
}

.logo-footer {
  color: var(--main-bcg-cl);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}

.footer .logo-span {
  color: var(--accent-txt-cl);
}

.adress .location {
  color: var(--btn-txt-cl);
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.auth-item:not(:last-child) {
  margin-bottom: 9px;
}

.auth-item .link {
  color: var(--btn-txt-cl);
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);

  transition: color var(--duration) var(--timing-function);
}

.link.transparent {
  color: var(--footer-link-cl);
}

.join {
  margin-right: auto; 
}
.join-title,
.subscribe-group-title {
  display: flex;
  color: var(--hero-txt-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-list {
  display: flex;
  gap: 10px;
}

.join-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--icon-footer-elipce-cl);
  border-radius: 50%;
  cursor: pointer;

  transition: background-color var(--duration) var(--timing-function);
}

.join-icon {
  fill: var(--btn-txt-cl);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--btn-hover-cl);
}

.subscribe-form {
  display: flex;
}

.subscribe-form-field {
  display: flex;
  margin-right: 12px;
}

.subscribe-form-input {
  height: 50px;
  width: 358px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: var(--box-shadow-button);
  border-radius: var(--border-radius-button);
  /* outline: transparent; */
  cursor: pointer;
  background-color: transparent;
  color: var(--btn-txt-cl);

  transition: border-color var(--duration) var(--timing-function);
}

.subscribe-form-input:hover,
.subscribe-form-input:focus {
  border-color: var(--accent-bcg-cl);
}

.subscribe-form-input::placeholder {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: calc(20/16);
  letter-spacing: 0.03em;
  color: var(--footer-link-cl);
}

.subscribe-form-icon {
  fill: var(--btn-txt-cl);
}
.subscribe-form-btn-name {
  margin-right: auto;
  color: var(--btn-txt-cl);

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  
}
.subscribe-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 28px;
  padding-right: 28px;
 
  width: 200px;
  height: 50px;
  background-color: var(--accent-txt-cl);
 
  box-shadow: var(--box-shadow-button);
  border-radius: 4px;
  border-style: none;

  cursor: pointer;

  transition: background-color var(--duration) var(--timing-function);
}

.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  background-color: var(--btn-hover-cl);}





/* MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transition: opacity var(--duration) var(--timing-function),
  visibility var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: var(--main-bcg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--duration) var(--timing-function);
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: var(--btn-txt-cl);
  border: 1px solid var(--modal-btn-border-cl);
  border-radius: 50px;

  cursor: pointer;

  transition: border-color var(--duration) var(--timing-function);
}
.modal-btn:hover,
.modal-btn:focus {
  border-color: var(--btn-hover-cl);
}

.modal-icon {
  fill: var(--modal-icon-cl);
  position: absolute;

  transition: fill var(--duration) var(--timing-function);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  fill: var(--btn-hover-cl);
}

/* FORM */

.register-form-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.register-form-group {
  margin-bottom: 20px;
}

.register-form-field {
  display: block;
  position: relative;
}
.register-form-field:not(:last-child) {
  margin-bottom: 10px;
}

.register-form-label {
  display: block;
  margin-bottom: 4px;

  color: var(--main-txt-cl);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.register-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* outline: transparent; */
  cursor: pointer;

  transition: border-color var(--duration) var(--timing-function);
}

.register-form-input:hover,
.register-form-input:focus,
.register-form-massage:hover,
.register-form-massage:focus,
.register-form-icons:focus {
  border-color: var(--accent-bcg-cl);

}

.register-form-icon {
  position: absolute;
  bottom: 3%;
  left: 3%;
  transform: translateY(-50%);
  /* fill: #212121;  */
}

.register-form-input:hover + .register-form-icon,
.register-form-input:focus + .register-form-icon {
  fill: var(--accent-bcg-cl);
  transition: fill var(--duration) var(--timing-function);
}


/* textarea */
.register-form-massage {
  resize: none;
  display: block;
  width: 100%;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* outline: transparent; */
  cursor: pointer;

  transition: border-color var(--duration) var(--timing-function);
}

.register-form-massage::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.register-form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.icon-checked {
  opacity: 0;
}
.icon-unchecked {
  opacity: 1;
  fill: #212121;
}
.register-form-checkbox:focus + .register-form-icons .icon-unchecked {
  transition: opacity var(--duration) var(--timing-function); 
  fill: #188ce8;
}

.register-form-icons {
  margin-right: 9px;
}
.register-form-checkbox:checked + .register-form-icons .icon-checked {
  opacity: 1;
  transition: opacity var(--duration) var(--timing-function);
}

.register-form-checkbox:checked + .register-form-icons .icon-unchecked {
  opacity: 0;
  transition: opacity var(--duration) var(--timing-function);
}
.register-form-desc {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  user-select: none;
}

.register-form-link {
  color: var(--accent-txt-cl);
}

/* BUTTON */
.register-form-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--accent-txt-cl);
  color: var(--btn-txt-cl);

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  box-shadow: var(--box-shadow-button);
  border-radius: 4px;
  border-style: none;

  cursor: pointer;

  transition: background-color var(--duration) var(--timing-function);
}

.register-form-btn:hover,
.register-form-btn:focus {
  background-color: var(--btn-hover-cl);
}

